<!DOCTYPE html>
<html lang="en">
<head>
<title>秀才小舍</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="${request.contextPath}/statics/css/client/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="${request.contextPath}/statics/css/client/font-awesome.css" rel="stylesheet">
<link href="${request.contextPath}/statics/css/client/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/client/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">


<!-- start-smooth-scrolling -->
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/client/move-top.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/client/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smooth-scrolling -->
</head>
	
<body>
<!-- banner -->
	<div class="banner-figures">
		<div class="banner">
			<div class="container banner-drop">
				<div class="header">
					<div class="header-left logo">
						<h1><a href="../welcom.html">一水江湖</a></h1>
					</div>
					<div class="header-right">
						<nav>
						  <ul>
							<li class="active">
								<a href="index.html" class="active"><span>Home</span></a>
							</li>
							<li>
								<a href="#about" class="scroll"><span>About</span></a>
							</li>
							<li>
								<a href="#experience" class="scroll"><span>Experience</span></a>
							</li>
							<li>
								<a href="#projects" class="scroll"><span>Projects</span></a>
							</li>
							<li>
								<a href="#contact" class="scroll"><span>Contact</span></a>
							</li>
						  </ul>
						</nav>
						<div class="menu-icon animated wow zoomIn" data-wow-duration="1000ms" data-wow-delay="800ms"><span></span></div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="name" >
					<h2>Lv xiucai</h2>
					<p> Web Designer & Developer</p>
				</div>
				<div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
					<ul class="top-links">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
							<div class="banner-btm-grid-w3ls">
		<div class="banner-left-wthree">
			<img src="${request.contextPath}/statics/images/haidai.jpg" alt=" " class="img-responsive">
			<ul class="address">
					
					<li>
							<ul class="address-text">
								<li><b>NAME</b></li>
								<li>: I'M Lv xiucai</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>D.O.B</b></li>
								<li>: 08-07-1992</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>ADDRESS </b></li>
								<li>: HeZe ,ShanDong Province,CHINA.</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>E-MAIL </b></li>
								<li><a href="mailto:example@mail.com">: lvxiucai@aliyun.com</a></li>
							</ul>
						</li>
						
					</ul>
		</div>
		<div class="banner-right-w3-agileits">
			<iframe src=""></iframe>
		</div>
		<div class="clearfix"></div>
	</div>
		</div>
			<script>
				(function($){
				  $(".menu-icon").on("click", function(){
						$(this).toggleClass("open");
						$(".container").toggleClass("nav-open");
						$("nav ul li").toggleClass("animate");
				  });
				  
				})(jQuery);
			</script>
		
	</div>

<!-- //banner -->
<!-- about -->
<div class="about" id="about">
	<div class="container">
		<span class="about-top-w3">Who I am?</span>
		<h4 class="title-w3ls">About Me</h4>
		<h5 class="sub">The brief introduction of myself</h5>
		<p class="para-w3-agile">一个流浪多年的旅者，就算自己是一朵狗尾巴草，也要拧出一朵花来，生活就是战斗 。</p>
		<p class="para-w3-agile">赚钱治愈一切矫情，有钱治愈一切自卑，忧愁也是好的，孤独也是好的，最终它们会让我变成一个与众不同的混蛋 </p>
		<div class="skills-bar">
		<h4 class="title-w3ls">My Skills</h4>
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
						<div class='bar_group__bar thin' label='jQuery' show_values='true' tooltip='true' value='343'></div>
						<div class='bar_group__bar thin' label='AJAX' show_values='true' tooltip='true' value='235'></div>
						<div class='bar_group__bar thin' label='JAVA' show_values='true' tooltip='true' value='675'></div>
						<div class='bar_group__bar thin' label='SASS' show_values='true' tooltip='true' value='456'></div>
						<div class='bar_group__bar thin' label='HTML' show_values='true' tooltip='true' value='245'></div>
						</div>
					</div>
					<div class='clear'></div>
				</section>
			</section>
		</div>
	</div>
</div>
<!-- //about -->
<!--work-experience-->
	<div id="experience" class="experience">
		<div class="container">
		<span class="about-top-w3">Versatile Web Designer</span>
			<h4 class="title-w3ls">Work Experience</h4>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2017 - 2018 in Hangzhou </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span> Project Manager</h5>
					<p>懂得这么多道理，却依旧过不好这一生，原因有两点，一是不能很好的执行，须知知行合一才能有所得。另一个就是人生不如意十之八九</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2015 - 2017 in Qingdao </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span>Web Developer</h5>
					<p>流年的光阴里，曾几何时踏着幽幽的暗香，为自由而寻寻觅觅,在代码的国度里探索未来</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2011 - 2015 in Qingdao</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5>Modesty learner<span class="glyphicon glyphicon-briefcase"> </span> </h5>
					<p>安静的学习，舒适的钓鱼，恬淡的赏花,俨然一个肩挑清风明月的翩翩少年郎 </p>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!--//work-experience-->
<!-- projects -->
<div class="projects" id="projects">
	<div class="container">
	<span class="about-top-w3">The best of my story </span>
		<h4 class="title-w3ls">You can see my story here</h4>
		<div class="news-bottom" id="tu-index1">
				<div class="news-one-wthree-agile" >
					<div class="col-md-6 news-left">
						        <div class="biseller-column">
										<a class="lightbox" href="#one">
											<img src="${request.contextPath}/statics/images/gufu.jpg" alt=""/>
										</a> 
										<div class="lightbox-target" id="one">
										 <img src="${request.contextPath}/statics/images/gushi.jpg" alt=""/>
										 <p class="pop">成长就是自己价值体系不断完善的过程，好奇，尝试，努力，挑战。。</p>
										 <a class="lightbox-close" href="#tu-index1"> </a>
											
										 <div class="clearfix"> </div>
											
										</div>
							   </div>

					</div>	
					<div class="col-md-6 news-right"> 
					<a href="#one"><h4>Miss You For Long</h4></a>
						<p class="para-w3-agile">若无缘，三千大千世界，百万菩提众生，为何与我笑颜独展，惟独与汝相见？</p>
						<p class="para-w3-agile">若有缘，待到灯花百结之后，三尺之雪，一夜白发，至此无语，却只有灰烬，没有复燃？</p>
					</div>	
					<div class="clearfix"> </div>	
				</div>
				<div class="news-one-wthree-agile" id="tu-index2">
					<div class="col-md-6 news-right"> 
						<a href="#three"><h4>陌上花开</h4></a>
						<p class="para-w3-agile">三十年众生牛马，六十年诸佛龙象</p>
						<p class="para-w3-agile">将心比心，便是佛心</p>
					</div>	
					<div class="col-md-6 news-left">
						 <div class="biseller-column">
										<a class="lightbox" href="#three">
											<img src="${request.contextPath}/statics/images/lizhi2.jpg" alt=""/>
										</a> 
										<div class="lightbox-target" id="three">
										 <img src="${request.contextPath}/statics/images/lizhi.jpg" alt=""/>
										 <p class="pop">愿我走出半生，归来仍是少年！All will bewell</p>
										   <a class="lightbox-close" href="#tu-index2"> </a>
											
											<div class="clearfix"> </div>
										</div>
							</div>

					</div>						
					<div class="clearfix"> </div>	
				</div>	
			  <div class="news-one-wthree-agile" id="tu-index3">
					<div class="col-md-6 news-left">
							<div class="biseller-column">
										<a class="lightbox" href="#two">
											<img src="${request.contextPath}/statics/images/fuji.jpg" alt=""/>
										</a> 
										<div class="lightbox-target" id="two">
										 <img src="${request.contextPath}/statics/images/haidai.jpg" alt=""/>
										 <p class="pop">时光煮雨，美酒伴梦，你是我永不企及的阳光！</p>
										   <a class="lightbox-close" href="#tu-index3"> </a>
											
											<div class="clearfix"> </div>
										</div>
							</div>

					</div>	
					<div class="col-md-6 news-right"> 
					<a href="#two"><h4>romantic of soul</h4></a>
						<p class="para-w3-agile">下雨唱歌的人儿和下雨听歌的人儿都是浪漫的；梦想两三刀，累倒再逍遥</p>
						<p class="para-w3-agile">一个人的处境是苦是乐常是主观的。有人安于某种生活，有人不能。因此能安于自已目前处境的不妨就如此生活下去，不能的只好努力另找出路。
							你无法断言哪里才是成功的，也无法肯定当自已到达了某一点之后，会不会快乐。有些人永远不会感到满足，他的快乐只建立在不断地追求与争取的过程之中，
							因此，他的目标不断地向远处推移。这种人的快乐可能少，但成就可能大。</p>
					</div>	
					<div class="clearfix"> </div>	
				</div>	
				<div class="news-one-wthree-agile" id="tu-index4">
					<div class="col-md-6 news-right"> 
						<a href="#four"><h4>One song from heart</h4></a>
						<p class="para-w3-agile">清晨在霖霖雨声中醒来，匆忙收拾出门上班，走在路上，同样是降水，老家应该是雪花飞舞吧。在公交上，突然好想家，愈渐苍老年迈的奶奶，年过半百依然辛苦奋斗在一线的父母，我想回家，听他们闲聊生活中的家长里短；我想回家，给他们做一顿软糯可口的饭菜</p>
					</div>	
					<div class="col-md-6 news-left">
						 <div class="biseller-column">
										<a class="lightbox" href="#four">
											<img src="${request.contextPath}/statics/images/tiandi.jpg" alt=""/>
										</a> 
										<div class="lightbox-target" id="four">
										 <img src="${request.contextPath}/statics/images/fengjing.jpg" alt=""/>
										 <p class="pop">年年岁岁花相似，岁岁年年孤一人。又痴长了一岁，离三张越来越近</p>
										   <a class="lightbox-close" href="#tu-index4"> </a>
											
											<div class="clearfix"> </div>
										</div>
							</div>

					</div>						
					<div class="clearfix"> </div>	
				</div>	
				 <div class="news-one-wthree-agile" id="tu-index5">
					<div class="col-md-6 news-left">
							<div class="biseller-column">
										<a class="lightbox" href="#five">
											<img src="${request.contextPath}/statics/images/jimo.jpg" alt=""/>
										</a> 
										<div class="lightbox-target" id="five">
										 <img src="${request.contextPath}/statics/images/zi.jpg" alt=""/>
										 <p class="pop">一个人，一条路，一直跑</p>
										   <a class="lightbox-close" href="#tu-index5"> </a>
											
											<div class="clearfix"> </div>
										</div>
							</div>

					</div>	
					<div class="col-md-6 news-right"> 
					<a href="#five"><h4>Xiucai Design</h4></a>
						<p class="para-w3-agile">每一个坚强的人，不是不懂失望不懂伤悲，他们只是懂得不管有多累不管有多痛，内心的脆弱必须以微笑来伪装。他们的眼泪永远都是流在故事的结尾，流在一切结束的时候！</p>
					</div>	
					<div class="clearfix"> </div>	
				</div>
				<div class="clearfix"> </div>				
			</div>	
	</div>
</div>
<!-- //projects -->
<!-- contact -->
<div class="contact" id="contact">
	<div class="container"><h4>ok,暂时就只有这些了，各位老铁~~~~~~</h4></div>
	<!--<div class="container">
	<span class="about-top-w3">敬请留言</span>
		<h4 class="title-w3ls">联系我</h4>
		<div class="col-md-5 contact-agileits-w3layouts">
			<form  method="post" onsubmit="return submit()">
				<input type="text" name="Your Name" placeholder="Name" id="name" required="" />
				<input type="email" name="Your Email" placeholder="Email" id="email" required="" />
				<input type="text" Name="Phone Number" placeholder="Number" id="number" required=""/>
				<textarea name="Message" placeholder="Message" id="message" required></textarea>
				<input type="submit" value="Submit">
			</form>
			<h5 class="sub">Looking for Address</h5>
			<p><span>Location</span> : 上海闵行区.</p>
			<p><span>Phone</span> : +86 15169135296</p>
			<p><span>Email</span><a href="mailto:lvxiucai@aliyun.com"> : lvxiucai@aliyun.com</a></p>
		</div>


		<div class="col-md-7 contact-map-right">
		<div id="map"></div>


		</div>
	</div>-->
</div>
<!-- //about -->

	<div class="footer">
		<div class="container">
			<p><a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备19001729号</a> </p>
		</div>
	</div>
<!-- //footer -->
<script src="${request.contextPath}/statics/js/modules/client/bars.js"></script>
<script type="text/javascript">



    function submit() {
		var data= {
            name:$("#name").val(),
			email:$("#email").val(),
			number:$("#number").val(),
			message:$("#message").val()
        };
		var jsonData = JSON.stringify(data);
        $.ajax({
            url: customer/submitInfo,
            type: 'POST',
            dataType: 'json',
            data: jsonData,
            success: function(res){
				if(res.data.code == 666){
                    alert("已经接受到您的消息，再次感谢光临寒舍");
				}
                alert("提交失败，请稍后重试或直接联系秀才本人");
            },
            error: function(res){
				alert("提交失败，请稍后重试或直接联系秀才本人");
            }
        })
    }


</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>